
<h1>Home Page!!!</h1>

<button><%= link_to " All posts", posts_path %></button>
<button><%= link_to " Power ", "/moments/power" %> </button>
<button><%= link_to " Growth ", "/moments/growth" %></button>
<button><%= link_to " Facts ", "/moments/facts" %></button>
<button><%= link_to " Kudos ", "/moments/kudos" %></button>