<div id="buttons1">
  <button class = "category" id ="power"><%= link_to " Power ", "/moments/power" %> </button>
  <button class = "category" id ="growth"><%= link_to " Growth ", "/moments/growth" %></button>
</div>
<div id="buttons2">
  <button class = "category" id ="facts"><%= link_to " Facts ", "/moments/facts" %></button>
  <button class = "category" id ="kudos"><%= link_to " Kudos ", "/moments/kudos" %></button>
</div>

<%= link_to "Log a Story", new_post_path, class: 'btn-go' %>