<%= form_for @post do |f| %>

	<div class="form-group">
		<%= f.label "Light the fire..." %>
		<%= f.text_area :content, rows: 8 %>
	</div>

  <div class="form-group">
    <%= f.label "Add categories..." %>
    <%= f.radio_button(:tag_id, 1) %>
    <%= f.label(:tag_id, "Moments of power") %>
    <%= f.radio_button(:tag_id, 2) %>
    <%= f.label(:tag_id, "Growth through struggle") %>
    <%= f.radio_button(:tag_id, 3) %>
    <%= f.label(:tag_id, "Cold hard facts") %>
    <%= f.radio_button(:tag_id, 4) %>
    <%= f.label(:tag_id, "Kudos") %>
  </div>

  <%= f.hidden_field :user_id, value: 1 %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn-go' %>
  </div>

<% end %>
