<!DOCTYPE html>
<html>
  <head>
    <title>Accomplishe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navigation-container">
        <img id = "profile-image" src="../../assets/images/Ellie.png" alt="Ellie Profile" />
      <%= link_to "View Your Moments", tags_path %>
    </div>
    <%= yield %>
  </body>
</html>
